
body {
margin: 0;
font-family: 'Quicksand', sans-serif;
}

.logo {
    width: 150px;
    justify-self: center;
    display: none;
  }

  @media (max-width: 640px) {
    .logo {
      display: block;
    }
  }
 
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    transition: .3s;
  }

  .primary-button:hover{
    background-color: var(--hospital-green-hover);
    transition: .3s;

  }

  .secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    transition: .3s;

  }

  .secondary-button:hover{
    background-color: var(--very-light-pink);
    transition: .3s;

  }